<html>
<head>
    <meta charset="UTF-8">
    <title>GEI AISI</title>
    <script type="text/javascript">
	function getName() {
		var name = "Aarón Cela Riveiro";
		document.getElementById("myName").innerHTML = name;
	}
        function getURL() {
        	document.write(window.location.href);
        }
	function getTIME() {
		document.getElementById("current_date").innerHTML = Date();
    	}
    </script>
</head>
<body onload="getName()">
	<div style="width:600px;height:{{ height }};border:2px solid #000;text-align: center;">
	<strong>
	<p><img src="https://gac.udc.es/~rober/aisi/udc.png" style="max-width: 300px; width: auto;"></p>
	<h3><u>GEI AISI: 2023/2024</u></h3>
	    <p><img src="https://gac.udc.es/~rober/aisi/flask.png" style="max-width: 200px; height: auto;">
	    <p><u>Flask+MySQL WebApp (Docker)</u></p>
	    <p>Página web de <span id="myName"></span></p>
	    <p><script>getURL();</script></p>
	    <p><div id="current_date"><script>getTIME();</script></p>
	    <p>MySQL URI: {{ db_uri }}</p>
	    <p>MySQL connection status: {{ result }}</p>
	</strong>
	</div>
</body>
</html>
