<?php
define('DB_NAME', '{{ mysql_db }}');
define('DB_USER', '{{ mysql_user }}');
define('DB_PASSWORD', '{{ mysql_password }}');
define('DB_HOST', 'localhost');
define('WP_CONTENT_DIR', '/usr/share/wordpress/wp-content');
?> 
